@import url(./reset.css);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700);

* {
    font-family: Rubik, sans-serif;
}

.header {
    background-color: #f4a460;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.search {
    display: flex;
    gap: 20px;
}

.search__input {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    width: 460px;
    height: 54px;
    top: 112px;
    left: 254px;
    border-radius: 6px;
    color: #808080;
    background-color: #CD853F;
    padding-left: 20px;
    padding-right: 20px;


}

.search__button {
    width: 145px;
    height: 54px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500px;
    background-color: #808080;
    color: #FFF;
}